@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============================= */
/* ====== NAVBAR SECTION ======= */
/* ============================= */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat Alternates";
    background-color: #1E1E1E;
}

.navheader {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #1E1E1E;
    width: 100%;

    /* border: 1px solid #ccc; */
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-nav {
    width: 100%;
    display: inline;
}

.navbar-nav li {
    display: inline;
    vertical-align: middle;
}

.navbar-item {
    /* float: left;
    display: block; */
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 16px;

    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 4%;
    margin-right: 4%;
}

.topnav a:hover {
    color: #FF8A9F;
    font-weight: 700;
    text-decoration: none;
}

.active a {
    /* background-color: #04AA6D; */
    color: #FF8A9F;
    font-weight: 700;
}

.active a .img-selected {
    width: 15px;
    margin-right: 5px;
}

.img-selected {
    width: 0px;
}

.navbar-logo {
    height: 45px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2px;
    margin-bottom: -10px;
}

.navbar-logo:hover {
    height: 50px;
}

.navbar-hr {
    border-color: #f2f2f2;
    opacity: 20%;
}

/* ============================= */
/* ====== FOOTER SECTION ======= */
/* ============================= */
.navbar-footer {
    position: relative;
    overflow: hidden;
    background-color: #1E1E1E;
    width: 100%;

    /* border: 1px solid #ccc; */
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 30px;
}

.footer-ul {
    width: 100%;
    display: inline;
}

.footer-ul li {
    display: inline;
    vertical-align: middle;
}

.footer-item {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 14px;

    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 4%;
    margin-right: 4%;
}

.footer-item:hover {
    color: #FF8A9F;
    font-weight: 700;
    text-decoration: none;
}


/* ============================= */
/* ====== CONTENT SECTION ====== */
/* ============================= */

/* COLUMN */

.row {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.one-column {
    float: left;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.two-column {
    float: left;
    width: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.two-column.left {
    padding-left: 10%;
    padding-right: 50px;
}

.two-column.right {
    padding-right: 10%;
}

.three-column {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.four-column {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.three-row {
    /* float: top; */
    vertical-align: middle;
    height: 33.3%;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.four-column-25 {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.four-column-75 {
    float: left;
    width: 75%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.collection-div {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}

.collection-div:after {
    content: "";
    display: table;
    clear: both;
}

.ourteam-div {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 0px;
}

.ourteam-div:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

.gradient-banner {
    transition: 0.5s;
    background-image: linear-gradient(to right, #4d4d4d 0%, #393939 51%, #232323 100%);
}

/* TEXT */
h1 {
    font-size: 36px;
    color: #f2f2f2;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    color: #f2f2f2;
    font-weight: 600;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    color: #f2f2f2;
    font-weight: 300;
    margin-top: 20px;
}

p {
    font-size: 14px;
    color: #f2f2f2;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.pink-text {
    color: #FF8A9F;
}

.tag {
    /* margin-top: 10px; */
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f2f2f2;
    font-family: 'Aldrich';
    text-transform: uppercase;
    font-size: 8px;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    /* box-shadow: 0 0 10px #f2f2f2; */
    border-radius: 30px;
    border: 1px solid #4d4d4d;
    background-color: transparent;
}

/* ETC */
#museum-logo {
    width: 80%;
    margin-top: -5%px;
    margin-left: -10%;
}

.img-icon {
    width: 35px;
}

.img-icon-medium {
    width: 80px;
}

.img-icon-big {
    width: 120px;
}

.collection-image {
    width:100%;
    min-height:150px;
    height: 150px;
    object-fit: cover;
}

.ourteam-image {
    width:100%;
    min-height:200px;
    height: 200px;
    object-fit: cover;
}

/* BUTTON */
/* Reference : https://codepen.io/pirrera/pen/bqVeGx */
.button-style-1 {
    /* flex: 1 1 auto; */
    margin-top: 10px;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f2f2f2;
    font-family: 'Aldrich';
    text-transform: uppercase;
    font-size: 14px;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    /* box-shadow: 0 0 10px #f2f2f2; */
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #4d4d4d 0%, #393939 51%, #232323 100%);
}

.button-style-1:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
    color: #FF8A9F;
}

.button-style-2 {
    /* flex: 1 1 auto; */
    margin-top: 10px;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f2f2f2;
    font-family: 'Aldrich';
    text-transform: uppercase;
    font-size: 14px;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    /* box-shadow: 0 0 10px #f2f2f2; */
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #FF8A9F 0%, #393939 100%);
}

.button-style-2:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
    color: #f2f2f2;
}

.button-style-3 {
    /* flex: 1 1 auto; */
    margin-top: 10px;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f2f2f2;
    font-family: 'Aldrich';
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #4d4d4d;
    background:transparent;
}

.button-style-3:hover {
    text-decoration: none;
    color: #FF8A9F;
    border: 1px solid #FF8A9F;
}

.button-style-4 {
    /* flex: 1 1 auto; */
    margin-top: 10px;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f2f2f2;
    font-family: 'Aldrich';
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #4d4d4d 0%, #393939 51%, #232323 100%);
}

.button-style-4:hover {
    position: right center;
    text-decoration: none;
    color: #f2f2f2;
}

/* FORM */
select {
    border: 1px solid;
    border-color: #FF8A9F;
    border-radius: 15px;
    padding: 15px;
    color: #f2f2f2;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

#form1 a {
    text-decoration: underline;
    font-weight: 500;
    color: #FF8A9F;
}

#form1 a:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #FF8A9F;
}

.textbox {
    border: 1px solid;
    border-color: #FF8A9F;
    /* outline-color: #FF8A9F; */
    border-radius: 15px;
    padding: 15px;
    color: #f2f2f2;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-question {
    margin-top: 10px;
    /* display: inline-block; */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #f2f2f2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    /* box-shadow: 0 0 10px #f2f2f2; */
    border-radius: 30px;
    background-color: #FF8A9F;
}

#textbox-search {
    margin-right: 10px;
}

/* RADIO BUTTON */
/* Reference : https://stackoverflow.com/questions/16242980/making-radio-buttons-look-like-buttons-instead */
.questionnaire-radio {
    
}

.questionnaire-radio-ul {
    list-style-type: none;
    /* margin: 0 0 0 0; */
    margin-left: -40px;
}

.questionnaire-radio-ul li {
    /* float: left; */
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10%;
    min-width: 100px;
    /* height: 15px; */
    position: relative;
}

.questionnaire-radio-ul label,
.questionnaire-radio-ul input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20;
}

.questionnaire-radio-ul input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.questionnaire-radio-ul input[type="radio"]:checked+label,
.Checked+label {
    background: #FF8A9F;
}

.questionnaire-radio-ul label {
    padding: 20px;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    border-radius: 20px;
    cursor: pointer;
    z-index: 90;

    font-size: 14px;
}

.questionnaire-radio-ullabel:hover {
    background: #DDD;
}

/* SLIDER
Source : https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 8px;
    border-radius: 5px;
    /* background-image: linear-gradient(to right, #232323 0%, #4d4d4d 51%, #232323 100%); */
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.5, #FF8A9F),
        color-stop(0.5, #393939));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #FF8A9F 0%, #A9848A 100%);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF8A9F;
    cursor: pointer;
  }

.slider::-moz-range-progress {
    background: red;
}


/* ============================= */
/* ==== SCREEN MEDIA NAVBAR ==== */
/* ============================= */

@media screen and (max-width: 991px) {

    /* NAVBAR */
    .navheader {
        min-height: 70px;
        padding: 0%;
    }

    .navbar-nav {
        display: flex;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-toggler {
        background-color: #1E1E1E;
        margin-top: 2%;
        margin-bottom: 0%;
        margin-right: 2%;
        margin-left: auto;
        min-height: 50px;
    }

    /* FOOTER */
    .footer-ul {
        display: inline;
    }

    .footer-ul li {
        display: block;
        align-items: center;
    }

    /* HOME */
    .one-column {
        float: top;
        width: 100%;
        text-align: center;
    }

    .two-column {
        float: none;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .two-column.right {
        padding: 0%;
    }

    .two-column.left {
        padding: 0%;
    }

    .three-column {
        float: none;
        width: 33.33%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ourteam-div .three-column {
        float: none;
        width: 100%;
        height: 250px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
    }

    .collection-div {
        width: 100%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    .four-column {
        float: top;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .four-column-25 {
        float: left;
        width: 30%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .four-column-75 {
        float: left;
        width: 70%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* ETC */
    #museum-logo {
        width: 70%;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    /* TEXT */
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    p {
        font-size: 14px;
    }

    /* BUTTON */
    .button-style-1 {
        margin-top: 10px;
        padding-bottom: 15px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        /* box-shadow: 0 0 10px #f2f2f2; */
        border-radius: 30px;
    }

    .button-style-2 {
        margin-top: 10px;
        padding-bottom: 15px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        /* box-shadow: 0 0 10px #f2f2f2; */
        border-radius: 30px;
    }

    .button-style-3 {
        margin-top: 10px;
        padding-bottom: 15px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        /* box-shadow: 0 0 10px #f2f2f2; */
        border-radius: 30px;
    }

    .button-style-4 {
        margin-top: 10px;
        padding-bottom: 15px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        font-size: 16px;
        /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        /* box-shadow: 0 0 10px #f2f2f2; */
        border-radius: 30px;
    }

    #textbox-search {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        object-position: center;
    }

    /* #select-search {
        width: 100px;
        margin-right: 15%;
    } */

}
